body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  nav {
    background-color: #00CED1; /* Turquoise color */
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline;
    margin-right: 10px;
  }
  
.navigation{
  padding: 15px;
  display: flex;
  justify-content: space-between;
  }

  a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
  }
  
  a:hover {
    background-color: #20B2AA; /* Darker turquoise color on hover */
  }
 
  
  .blog-container {
    display: flex;
    flex-direction: column;
  }
  
  .blog-post {
    border-radius: 80px;
    justify-content: center;
    display: grid;
    border: 1px solid #ccc;
    margin-bottom: 25px;
  }
  
  .blog-title {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .blog-content {
    margin-bottom: 10px;
  }
  
  .read-more {
    color: #00CED1; /* Turquoise color */
    text-decoration: none;
  }
  
  .read-more:hover {
    text-decoration: underline;
  }

header {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}
.content {
  justify-content: center;
  display: flex;
  margin: 20px;
}
h2{
  display: flex;
justify-content: center;
}

.center{
  padding: 100px;
  border-radius: 50px;
  background-color: #8bf1f3;
}
/* .image-size{
   height: 50px;
  width: 50px; 
} */


footer {
  background-color: #f0f0f0;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.feedback{
  border-radius: 5px ;
  /* border: 2px solid pink; */
  color: white;
}
  
/* body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
} */

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

/* header {
  text-align: center;
  margin-bottom: 20px;
} */

.about, .introduction, .lyrics {
  margin-bottom: 30px;
}

/* footer {
  text-align: center;} */

