{% load static %}
{% extends "base.html" %}
{% block css %}

<link rel="stylesheet" href="{% static 'blog/styles.css' %}">{% endblock  %}

{% block content   %}
  <nav class="navigation">
    <ul>
      <li><a href="{%url 'home-page' %}">Home</a></li>
      <li><a href="{%url 'about-page' %}">About</a></li>
      <li><a href=""{%url 'home-page' %}"">Services</a></li>
      <li><a href="{%url 'home-page' %}">Contact</a></li>
    </ul>
   <a href="{% url 'feedback' %}" >  <div class="feedback"> Please Provide Feedback!</div> </a>
  </nav>
  <header>
    <h1>Welcome to My Blog</h1>
  </header>
  {% comment %} <div class="slider"></div> {% endcomment %}

 {% comment %} <div class="slider">   <img src="{% static 'blog/images/image-2.jpg' %}"  alt="Image 1"></div> {% endcomment %}

  <div class="content">
       
                  {% comment %} <div class="image-size"><img src="{% static 'blog/images/image-1.jpg' %}"  alt="Image 1"> {% endcomment %}
      <div class="center">
       
        <h2>Blog Post Title 1</h2>
        <p>We were both young when I first saw you
          I close my eyes and the flashback starts
          I'm standing there <br>
          On a balcony, in summer air
          See the lights, see the party, the ball gowns <br>
          See you make your way through the crowd
          And say, "Hello"<br>
          Little did I know <br>

          That you were Romeo, you were throwing pebbles <br>
          And my daddy said, "Stay away from Juliet" <br>
          And I was crying on the staircase
          Begging you, "Please don't go"
          And I said <br>
          "Romeo take me somewhere we can be alone
          I'll be waiting, all there's left to do is run <br>
          You'll be the prince, and I'll be the princess <br>
          It's a love story, baby, just say yes" <br>
          So I sneak out to the garden to see you
          We keep quiet 'cause we're dead if they knew <br>
          So close your eyes
          Escape this town for a little while, oh, oh <br>
          'Cause you were Romeo, I was a scarlet letter <br>
          And my daddy said, "Stay away from Juliet" <br>
          But you were everything to me <br>
          I was begging you, "Please don't go"
          And I said <br>
          "Romeo, take me somewhere we can be alone
          I'll be waiting, all there's left to do is run <br>
          You'll be the prince, and I'll be the princess <br>
          It's a love story, baby, just say yes"
          Romeo, save me, they're trying to tell me how to feel <br>
          This love is difficult, but it's real
          Don't be afraid, we'll make it out of this mess <br>
          It's a love story, baby, just say yes
          Oh, oh-oh <br>
          I got tired of waiting <br>
          Wondering if you were ever coming around
          My faith in you was fading <br>
          When I met you on the outskirts of town
          And I said <br>
          "Romeo, save me, I've been feeling so alone <br>
          I keep waiting for you, but you never come <br>
          Is this in my head? I don't know what to think" <br>
          He knelt to the ground and pulled out a ring <br>
          And said
          "Marry me, Juliet, you'll never have to be alone <br>
          I love you, and that's all I really know
          I talked to your dad, go pick out a white dress <br>
          It's a love story, baby, just say yes"
          {% endblock  %}
  