{% extends "base.html" %}
{% load static %}

{% block css %} 
    <link rel="stylesheet" href="{% static 'blog/style.css' %}">
{% endblock %}


    {% block content  %}
    <nav class="navigation">
        <ul>
          <li><a href="{%url 'home-page' %}">Home</a></li>
          <li><a href="{%url 'about-page' %}">About</a></li>
          <li><a href=""{%url 'home-page' %}"">Services</a></li>
          <li><a href="{%url 'home-page' %}">Contact</a></li>
        </ul>
    </nav>
    
    <div class="main-block">
        <div class="left-part">
            <i class="fas fa-envelope"></i>
            <i class="fas fa-at"></i>
            <i class="fas fa-mail-bulk"></i>
        </div>
        <form method="post" action="{% url 'submit_contact' %}">
            {% csrf_token %}
            <h1>Contact Us</h1>
            <div class="info">
                {{ form.full_name }}
                {{ form.email }}
                {{ form.phone_number }}
            </div>
            <p>Message</p>
            <div>
                {{ form.message }}
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
    
    {% endblock  %}
